{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block content %}
<h2>Регистрация</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class=''>Зарегистрироваться</button>
</form>
{% endblock %}
