{% extends 'base.html' %}

{% block content %}
Ваши очки: {{user.points}} <br>
Ваш код-приглашения: {% if not user.invitation_code %}Сгенерируйте код приглашения {% else %} {{user.invitation_code}} {% endif %}
    {% if not user.invitation_code %}
    <form method="post" action='{% url 'inspiration_code' %}'>
        {% csrf_token %}
        <button type="submit">Сгенерировать</button>
    </form>
    {% endif %}
{% endblock %}
